/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
  }


  h1 {
    font-size: 28px;
  }
  
  .social-icons {
    display: flex;
    padding-right: 10px;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #121212;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .social-icon:hover {
    background-color: #1db954;
    color: #fff;
  }
     /*Posicionar los iconos y asignar el color*/
  #facebook span {
    margin-left: 10px;
  }
  #facebook {
    background-color: #3b5998;
    color: #fff;
  }

  #apple span {
    margin-left: 10px;
  }
  
  #apple {
    background-color: #000;
    color: #fff;
  }

  #google span {
    margin-left: 10px;
  }
  #google {
    color: #000;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
  }
  /*Formulario estilos*/
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #222;
    padding: 50px;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .forgot-password {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    color: #1db954;
  }
  /*Otros aspectos para los botones*/
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0f834d;
  }
  
  .signup {
    margin-top: 30px;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .signup-btn {
    display: inline-block;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    background-color: #1db954;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signup-btn:hover,
  .social-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }